@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Biryani:200,900|Poiret+One);

/*============GENERAL============*/

body {
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 900;
}

h3 {
  margin: 0;
  padding: 20px;
  font-family: 'Poiret One', sans-serif;
  font-weight: 200;
}

h4 {
  color: #000;
}


/*============HEADER============*/
header {
  
}

#logo {
  text-align: center;
  margin: 10px;
  padding: 0;
  display: inline-block;
  float: left;
}

.sub-header {
  text-align: center;
  margin: 0;
  padding: 20;
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  float: left;



/*============NAVIGATION============*/

}

nav ul {
  list-style: none;
  display: inline;
  margin: 0 auto;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 1.25%;
}

/*============PROJECT LIST============*/

#projects {
  background: #222;
  list-style: none;
  margin: 0;
}

#projects li {
  display: inline-block;
}

#projects p {
  color: #aaa;
}

#projects p:hover {
  text-decoration: underline;
}



/*============ABOUT============*/

#about {
  background: #fff;
  color: #000;
  width: 90%;
  margin: 0 auto;
}

.profile-photo {
  margin: 10px 30px 20px 0;
  padding: 0;
  border-radius: 100%;
  float: left;

}


/*============SOCIAL MEDIA LINKS============*/

#contact {
  background: #474747;
  clear: left;
}

#contact ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

#contact ul li {
  display: inline-block;
  max-width: 32.5%;
  padding: 0;
  margin: 0;
  
}

#contact img {
  max-height: 20%;
  max-width: 20%;
  margin: 10% 25%;
  padding: 10%;
  

}

.social-icon {
  border: 2px solid #474747;
}

.social-icon:hover {
  border: 2px solid #ccc;
  border-radius: 15%;
}



/*============FOOTER============*/

footer {
  text-align: center;
  color:#777;
}

/*============COLORS============*/
body {
  color: #fff;
}

header {
  background: #940000;
}

p {
  color: #000;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

