* {
  font-family: helvetica;
}

header {
  color: #378b2e;
  font-size: 54px;
  width: 540px;
  float: left;
  border: solid 1px black;
}

nav {
  width: 540px;
  float: right;
  border: dotted 1px black;

}

a {
  color: #378B2E;

}

a:hover {
  color:#000;
}

#footer {
  color: #378B2E;
  clear:both;
}

section#header-nav {
  width: 1080px;
}

div#header {
  
}

div#nav{
  
}