/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .constraint {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  }

  #contact .constraint ul li {
  display: inline-block;
  max-width: 25%;
  padding: 0;
  margin: 0 8%;
  
  }
}


@media screen and (min-width: 320px) {

  .constraint {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

  /*============CENTERING .CONSTRAINT============*/


@media screen and (min-width: 660px) {

}

  /*============CENTERING #CONTACT============*/


@media screen and (min-width: 1160px) {

  /*============CENTERING #CONTACT============*/


}